body {
  background-color: hotpink;
  margin: 0;
}

header {
  background-color: #ffffbb;
}

header h1 {
  font-family: Sigmar One, cursive;
  text-align: left;
  color: #cc00cc;
  text-shadow: 3px 3px black;
  font-size: 5em;
  margin-top: 0;
}

h1 {
  font-variant: small-caps;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  color: white;
}

h2 {
  font-family: sans-serif;
  font-size: 1.25em;
  text-align: center;
}

.main {
  background-color: rgb(255,204,255);
  margin-left: 10px;
  width: 85%;
}

p {
  width: 75%;
  color: black;
}

img {
  border-radius: 45%;
}

.flashy {
  font-style: italic;
  color: red;
}

.best {
  font-family: Sigmar One, cursive;
}

footer {
  background-color: #ffffbb;
  padding-bottom: 400px;
}
